.section.form.formContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
#windowContainer {
  display: none;
}
#windowHeader {
  display: flex;
  justify-content: space-between;
}
